* {
    color:rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 13px;
    box-sizing: border-box;
}
@font-face {
    font-family:Helvetica;
    src: url(/font/helveticaneue.ttf);
}
body {
    width: 1200px;
    height: 1800px;
    box-shadow: 5px 5px rgb(0, 0, 0);
    margin: 50px auto;
    border: 3px solid #eee;
}

.header{
    di
}