* {
    color:rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 13px;
    box-sizing: border-box;
}
@font-face {
    font-family:Helvetica;
    src: url(/font/helveticaneue.ttf);
}
body {
    width: 1000px;
    height: 1800px;
    box-shadow: 5px 5px rgb(0, 0, 0);
    margin: 50px auto;
    border: 3px solid #eee;
}

.header{
    display: flex;
    height:300px ;
    border: 1px solid rgb(0, 0, 0);
    wrap: wrap;

}

.header #avatar {
    height: 200px ;
    margin: 50px;
    border-radius: 50%;
}
h1 {
    text-align: center;
    width: 100%;
}
.header-content{
    display: flex;
    flex-direction: row;
}