* {
    color:rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 13px;
    box-sizing: border-box;
}
@font-face {
    font-family:Helvetica;
    src: url(/font/helveticaneue.ttf);
}
body {
    width: 1000px;
    height: 1800px;
    box-shadow: 5px 5px rgb(0, 0, 0);
    margin: 50px auto;
    border: 3px solid #eee;
    background-color: #f2f2f2;
}

.container { 
    background-color: rgb(255, 255, 255);
}

.header{
    display: flex;
    height:300px ;
    border: 1px solid rgb(0, 0, 0);
    wrap: wrap;

}

.header #avatar {
    height: 200px ;
    margin: 29px;
    border-radius: 50%;
}
.header div.avatar-img {
   background-color: #c8d8e4;
   width: 260px;
   height: 260px;
   margin: 20px;
   border-radius: 50px;
}
h1 {
    text-align: center;
    font-size: 23px;
}
.header-content{
    display: flex;
    flex-direction: column;
    font-size: 36px;
    justify-content: center;
    background-color: #c8d8e4;
    width: 100%;
    border-radius: 50px;
    margin: 20px;
}
.header-content p{
    text-align: center;
    font-size: 26px;
    width: 100%;
    
}
.content{
    display: flex;
    flex-direction: row;
    height: 1500px;
}
.content div.content-left{
    height: 100%;
    width: 280px;
    background-color: antiquewhite;
    border-radius: 50px;
    margin:10px 20px;

}
.content .title-content{
    font-size:26px;
    padding: auto;
    color:#f2f2f2;
    text-align: center;
    background-color:#2b6777;
    margin: 20px auto;
    display: block;
    display: block;
    margin-block-start: 100px;
    margin-block-end:30px;

    
}
.content div.content-right{
    height: 100%;
    width: 70%;
 background-color: aqua;
 border-radius: 50px;
 margin: 10px 20px;
}